.App {
  text-align: center;
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
  user-select: none;
  margin: 1rem;
  animation: App-logo-spin infinite 20s linear;
}

.App-header {
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: #282c34;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-main {
  min-height: 88vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: calc(10px + 2vmin);
  background-color: #424752;
  color: white;
}

button {
  display: flex;
  width: 74px;
  height: 74px;
  align-items: center;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 5rem;
  font-weight: 900;
  text-align: center;
  line-height: 1;
  color: #282c34;
  box-sizing: border-box;
  background-color: #61DAFB;
  border: .5rem solid  #424752;
  border-radius: 40px;
}

.btn-left {
  position: fixed;
  left: 100;
  right: 100;
  margin-right: 300px;
}

.btn-right {
  position: fixed;
  left: 100;
  right: 100;
  margin-left: 300px;
}

button:focus {
  outline: none;
}

button:hover {
  transform: scale(1.1);
}

button:active {
  transform: scale(1);
}